@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Sarabun');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #eee;
   
}

.container{
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #eee;
    height: 100%;
    overflow: auto;
    
}
.board{
    box-sizing: content-box;
    height: 512px;
    width: 512px;
    position: absolute;
    top: 23%;
    left: 3%;
    background-image: url(img/board/board.png);
    border: 2px solid black;
   
}
.moves-history-container{
    position: absolute;
    right: 3%;
    top: calc(23% - 40px);
    height: 240px;
    width: 300px;
}
.moves-history{
    top: 40px;
    position: absolute;
    height: 200px;
    width: 300px;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(255,255,255,0.25), 0 5px 5px rgba(0,0,0,0.22);
    padding: 7px;
    padding-left: 12px;
    overflow-y: auto;
    
}
.moves-history-container>p{
    display: block;
    height: 40px;
    width: 100%;
    color: black;
   overflow-y: visible;
    padding-left: 10px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 0px;
    left: 0px;
}
.moves-history-span{
    display: inline-block;
    padding: 3px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
}
.moves-history-span-counter{
    font-family: 'Courier New', Courier, 'monospace';
    font-size: 17px;
}
.score-div{
    margin-top: 2.15vw;
    height: calc(45px + 3.5vw);
    background-color: #fff;
    width: 100%;
    box-shadow: 1px 1px 1px rgba(255,255,255,0.25), 0 5px 5px rgba(0,0,0,0.22);

}

.score-div>span{
    position: absolute;
    font-size: 5%;
    left: 50%;
    transform: translate(-50%,0px);
}
.score-inner{
    height: 100%;
    text-align: center;
    width: 50px;
    font-family: 'Sarabun', sans-serif;
}
.score-inner>span{
    font-size: calc(10px + 3vw);
    
}
.score-inner>p{
    font-size: 19px;
    font-style: italic;
}

.score-inner-white{
    float: left;
    margin-left: 30%;
}
.score-inner-black{
    float: right;
    margin-right: 30%;
}

.modal-background{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0,0.2);
    z-index: 2;
    
}
.modal-container{
    height: 220px;
    width: 400px;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -350%);
    background-color: white;
    border-radius: 20px; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    overflow: auto;
    transition: 0.3s;
}
.modal-container > p{
    margin-top: 20px;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.two-dots-center{
    font-size: calc(20px + 3vw) !important;
}
.btn-modal{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: white;
    border: none;
    margin-top: 90px;

}
.btn-play-again{
    background-color: #28a745;
    border: 1px solid #28a745;
    border-radius: 2px;
    color: white;
    padding: 10px;
    border-radius: 5px; 
    transition: 0.2s;
    margin-left: 110px;

}
.btn-play-again:hover{
    cursor: pointer;
    background-color: #218838;
}
.btn-return{
    border: 1px solid #ddd;;
    background-color: #eee;
    padding: 10px;
    color: black;
    border-radius: 5px; 
    transition: 0.2s;
}
.btn-return:hover{
    cursor: pointer;
    background-color: #ddd;
}
.type-of-loss-container{
    font-size: 15px;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    text-align: center;
    position: absolute;
    top: 61px;
    left: 50%;
    transform: translateX(-50%);
}

.square-frame{
    position: absolute;
   
    height: 64px;
    width: 64px;
    background-image: url(img/square-board.png);
}

.last-move{
    height: 64px;
    width: 64px;
    position: absolute;
    background-color: rgb(191, 215, 255,0.7);
    z-index: 0;
    display: none;
}
.piece{
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    height: 64px;
    width: 64px;
    z-index: 1;
}
.pawn-black{
   
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Chess_pdt45.svg/1024px-Chess_pdt45.svg.png');
    background-size: contain;
}
.rook-black{
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Chess_rdt45.svg/1024px-Chess_rdt45.svg.png');
    background-size: contain;
}

.knight-black{
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Chess_ndt45.svg/1024px-Chess_ndt45.svg.png');
    background-size: contain;
}

.bishop-black{
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Chess_bdt45.svg/1024px-Chess_bdt45.svg.png');
    background-size: contain;
}

.queen-black{
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Chess_qdt45.svg/1024px-Chess_qdt45.svg.png');
    background-size: contain;
}
.king-black{
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Chess_kdt45.svg/1024px-Chess_kdt45.svg.png');
    background-size: contain;
}

.pawn-white {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Chess_plt45.svg/1024px-Chess_plt45.svg.png');
    background-size: contain;
}
.rook-white{
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Chess_rlt45.svg/1024px-Chess_rlt45.svg.png');
    background-size: contain;
}
.knight-white{
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Chess_nlt45.svg/1024px-Chess_nlt45.svg.png');
    background-size: contain;
}
.bishop-white{
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Chess_blt45.svg/1024px-Chess_blt45.svg.png');
    background-size: contain;
}
.queen-white{
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Chess_qlt45.svg/1024px-Chess_qlt45.svg.png');
    background-size: contain;
} 
.king-white{
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Chess_klt45.svg/1024px-Chess_klt45.svg.png');
    background-size: contain;
}

@media (max-width: 516px){
    .last-move{
        height: calc(100vw / 8);
        width: calc(100vw / 8);
    }
    .board{
        width: calc(100vw - 4px);
        height: calc(100vw - 4px);
        background-size: contain; 
    }
    .square-frame{
        background-size: cover;
    }
    .piece, .square-frame{

        height: calc(100vw / 8);
        width: calc(100vw / 8);
    }
    .score-div{
        margin-top: 7vw;
    }
    .moves-history{
        display: none;
    }
}
@media (max-width: 900px){
    
    .moves-history-container{
        display: none;
    }
    .board{
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (min-width: 1000px){
    
    .score-div{
        height: calc(45px + 35px);
    }
    .score-inner>span{
        font-size: calc(10px + 30px);
    }
    .two-dots-center{
        font-size: calc(20px + 30px) !important;
    }
}